@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

:root {
  --text-color: #4d4d4d;
  --text-header: #263238;
  --black: #000000;
  --btn-color: #a8a6a1;
  --white: #fff;
  --dark_gray: #dfe0e1;
  --one: #d500f9;
  --two: #ff1744;
  --transition: 0.3s;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 5px;
}

@media (max-width: 600px) {
  .container {
    width: 95%;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  line-height: 1.6;
}
